$white: #ffffff;
$black: #000000;

$gray25: #FCFCFD;
$gray50: #F9FAFB;;
$gray100: #F2F4F7;
$gray200: #EAECF0;
$gray300: #D0D5DD;
$gray400: #98A2B3;
$gray500: #667085;
$gray600: #667085;
$gray700: #475064;
$gray800: #1D2939;
$gray900: #091A3C;

$primary25: #FEF3EE;
$primary50: #FDE7DD;
$primary100: #FCDBCD;
$primary200: #FAC9B3;
$primary300: #F8B79A;
$primary400: #F7A581;
$primary500: #F58D5F;
$primary600: #F48757;
$primary700: #E46A34;
$primary800: #CA470D;
$primary900: #9B370A;

$error25: #FFFBFA;
$error50: #FEF3F2;
$error100: #F4DFDD;
$error200: #F3C9C6;
$error300: #EE9F9A;
$error400: #F47E75;
$error500: #E76056;
$error600: #CC4B41;
$error700: #B42318;
$error800: #912018;
$error900: #7A271A;

$warning25: #FBF8F2;
$warning50: #FAF3E1;
$warning100: #F7EED4;
$warning200: #F3E5BC;
$warning300: #F0DDAA;
$warning400: #ECD697;
$warning500: #E9CF85;
$warning600: #E1BD56;
$warning700: #D8AA28;
$warning800: #AB861F;
$warning900: #7C6216;

$success25: #F5F9F4;
$success50: #ECF3EB;
$success100: #D3E2D0;
$success200: #B9D2B5;
$success300: #A6C6A1;
$success400: #93B98D;
$success500: #80AD79;
$success600: #679B5F;
$success700: #55804E;
$success800: #43643D;
$success900: #30492D;

$blue25:   #E8F1FF;
$blue50:   #EFF8FF;
$blue100:  #A3C2FF;
$blue200:  #80ABFF;
$blue300:  #5E94FF;
$blue400:  #3C7CFF;
$blue500:  #1A65FF;
$blue600:  #005BE6;
$blue700:  #175CD3;
$blue800:  #0046B3;
$blue900:  #003C99;
