$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 0.75rem;
$sp4: 1rem;
$sp5: 1.25rem;
$sp6: 1.5rem;
$sp8: 2rem;
$sp10: 2.5rem;
$sp12: 3rem;
$sp16: 4rem;
$sp20: 5rem;
$sp24: 6rem;
$sp32: 8rem;
$sp40: 10rem;
$sp48: 12rem;
$sp56: 14rem;
$sp64: 16rem;
