.button {
    border: none;
    background: none;
    color: inherit;
    line-height: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:not(:disabled) {
        cursor: pointer;
    }

    &--sm {
        width: 20px;
        height: 20px;
    }

    &--md {
        width: 32px;
        height: 32px;
    }

    &--lg {
        width: 44px;
        height: 44px;

        > svg {
            width: 24px;
            height: 24px;
        }
    }
}
